<div x-show="currentPage === 10" class="form-page" id="page-11">
  <div class="my-3 row nophoto-row" id="l-CMedications">
    <div class="d-flex gap-1 justify-content-between align-items-center flex-wrap">
      <h5>Current Medications</h5>
      <div class="d-flex gap-2">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            medication Presets
          </button>
          <ul class="dropdown-menu dropdown-menu-hover scroll">
            <%Array.from(presets).forEach(preset => {%>
            <% if(preset.currentMedications.length > 0){%>
            <li><a class="dropdown-item medicationpresetitem" itemofthat='<%- JSON.stringify(preset.currentMedications) %>'><%= preset.name %></a></li>
            <%}%>
                  <%})%>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-outline-success dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Add
          </button>
          <ul class="dropdown-menu p-2 scroll text-center ">
            <li><input type="text" class="dropdown-item form-control dropdown-input my-2 nameofmedication" placeholder="Name"></li>
            <li><button class="btn btn-sm btn-outline-success my-2 addInsideRcord" type="button">Save</button></li>
          </ul>
        </div>
      </div>
    </div>

    <div class=" insidecontent" id="medicationsContainer">
      <%if(patient[0].patientRecord[patient[0].patientRecord.length - 1].currentMedications.length > 0){%>
      <%patient[0].patientRecord[patient[0].patientRecord.length - 1].currentMedications.forEach(medications => {%>
      <div class="row fourinputs twoinputs">
        <div class="col-16 my-1">
          <textarea class="form-control" id="autoHeightTextarea" oninput="autoResize(this)" placeholder="Type" autocomplete="on" name="medicationsType"><%=medications.title%></textarea>
        </div>
        <div class="col-16 my-1">
          <textarea class="form-control" id="autoHeightTextarea" oninput="autoResize(this)" placeholder="Comment" autocomplete="on" name="medicationsComment"><%=medications.description%></textarea>
        </div>
        <div class="col-12 col-md-6 my-1">
          <input type="text" id="datePicker" class="form-control text-center" placeholder="Started At" value="<%=medications.startedAt%>" />
        </div>
        <div class="col-12 col-md-6 my-1">
          <input type="text" id="datePicker" class="form-control text-center" placeholder="Ended At" value="<%=medications.endedAt %>" />
        </div>
        <div class="col-16 my-1 text-center ">
          <i class="ph ph-bold ph-x"></i>
        </div>
      </div>
      <%});%>
      <%}else{%>
      <div class="row fourinputs">
        <div class="col-16 my-1">
          <textarea class="form-control" id="autoHeightTextarea" oninput="autoResize(this)" placeholder="Type" autocomplete="on" name="medicationsType"></textarea>
        </div>
        <div class="col-16 my-1">
          <textarea class="form-control" id="autoHeightTextarea" oninput="autoResize(this)" placeholder="Comment" autocomplete="on" name="medicationsComment"></textarea>
        </div>
        <div class="col-12 col-md-6 my-1">
          <input type="text" id="datePicker" class="form-control text-center" placeholder="Started At" />
        </div>
        <div class="col-12 col-md-6 my-1">
          <input type="text" id="datePicker" class="form-control text-center" placeholder="Ended At" />
        </div>
        <div class="col-16 my-1 text-center ">
          <i class="ph ph-bold ph-x"></i>
        </div>
      </div>
      <%}%>
                  </div>
                </div>
                <div class="my-3 row text-center btn-row">
                  <div class="col">
                    <button type="button" class="btn btn-outline-primary add-btn" onclick="addcloneMedications()">
                      Add Medications
                    </button>
                  </div>
                </div>
                <div class="my-3 row nophoto-row " >
                  <h5>Note</h5>
                  <div class="col-16 my-1">
                    <textarea class="form-control collectnote" id="autoHeightTextarea" oninput="autoResize(this)" placeholder="Note" autocomplete="on" name="NoteType"></textarea>
                  </div>
                </div>
                <div class="row mt-2">  
                  <div class="col-12 text-center">
                    <button type="button" class="btn btn-secondary" @click="currentPage = 9; activeListItem = 9">Back</button>
                  </div>
                </div>
</div>