<div x-show="currentPage === 1" class="form-page" id="page-2">
  <p style="font-weight: 800;">DMD</p>
  <%if(patient[0].patientRecord[patient[0].patientRecord.length - 1].DMD){%>
  <div class="my-3 row nophoto-row" id="l-DMD">
    <div class="insidecontent border-bottom" id="DMDContainer">
      <% patient[0].patientRecord[patient[0].patientRecord.length - 1].DMD.forEach(item => { %>
      <div class="row DMDinputs">
        <div class="col-12 col-md-3 my-1">
          <input type="text" class="form-control text-center titleInput" list="titleInputList" id="titleInput" placeholder="Type" value="<%=item?.Type%>">
          <datalist id="titleInputList">
            <option value="Aubagio">
            <option value="Avonex">
            <option value="Betaferon">

            <option value="Copaxone">
            <option value="Extavia">
            <option value="Gilenya">
            <option value="Kesimpta">
            <option value="Lemtrada">
            <option value="Mavenclad">
            <option value="Mayzent">
            <option value="Ocrevus">
            <option value="Plegridy">
            <option value="Ponvory">
            <option value="Rebif">
            <option value="Tecfidera">
            <option value="Tysabri">
            <option value="Zeposia">
          </datalist>
        </div>
        <div class="col-12 col-md-3 my-1">
          <input type="text" id="datePicker" class="form-control text-center DMDSAT" placeholder="Started At" value="<%=item?.startedAt%>" />
        </div>
        <div class="col-12 col-md-3 my-1 text-center">
          <input type="checkbox" class="form-check-input" value="On Going" name="DMD" id="onGoingCheckbox" <% if (item?.onGoing) { %> checked <% } %>>
          <h5 class="form-check-label ">On Going</h5>
        </div>
        <div class="col-12 col-md-3 my-1">
          <input type="text" id="datePicker" class="form-control text-center DMDEAT" placeholder="Ended At" value="<%=item?.endedAt%>" />
        </div>
        <div class="col-12 my-1">
          <textarea class="form-control Description" id="autoHeightTextarea" oninput="autoResize(this)" placeholder="Description" autocomplete="on" name="DMDComment"><%=item?.description%></textarea>
        </div>
        <div class="col-12 my-1">
          <textarea class="form-control causeOfDC" id="autoHeightTextarea" oninput="autoResize(this)" placeholder="Cause of DC" autocomplete="on" name="DMDCause"><%=item?.causeOfDC%></textarea>
        </div>
        <h5 class="my-2  text-sec">Adherence</h5>
        <div class="col-12 col-md-6 my-1">
          <select name="Adherence" id="adhDuration" class="form-select adherenceStatus">
            <option value="Choose" <% if (item?.adherence?.status === 'Choose') { %> selected <% } %>>Choose</option>
            <option value="Full" <% if (item?.adherence?.status === 'Full') { %> selected <% } %>>Full</option>
            <option value="Missing doses" <% if (item?.adherence?.status === 'Missing doses') { %> selected <% } %>>Missing doses</option>
            <option value="Occasional" <% if (item?.adherence?.status === 'Occasional') { %> selected <% } %>>Occasional</option>
            <option value="Frequent" <% if (item?.adherence?.status === 'Frequent') { %> selected <% } %>>Frequent</option>
            <option value="DC" <% if (item?.adherence?.status === 'DC') { %> selected <% } %>>DC</option>
          </select>
        </div>
        <div class="col-12 col-md-6 my-1 d-flex gap-1">
          <input type="text" class="form-control text-center valueofDuration" placeholder="Duration" value="<%= (item?.adherence?.dc && item?.adherence?.dc.split(' ')[0]) || '' %>" />
          <select name="Adherence" id="adhDuration" class="form-select typeoftheDuration" style="width: 30%;">
            <option value="Choose" <% if (item?.adherence?.dc && item?.adherence?.dc.split(' ')[1] === 'Choose') { %> selected <% } %>>Choose</option>
            <option value="Day" <% if (item?.adherence?.dc && item?.adherence?.dc.split(' ')[1] === 'Day') { %> selected <% } %>>Day</option>
            <option value="Month" <% if (item?.adherence?.dc && item?.adherence?.dc.split(' ')[1] === 'Month') { %> selected <% } %>>Month</option>
            <option value="Year" <% if (item?.adherence?.dc && item?.adherence?.dc.split(' ')[1] === 'Year') { %> selected <% } %>>Year</option>
          </select>
        </div>
        <div class="col-12 my-1">
          <textarea class="form-control whytheadherence" id="autoHeightTextarea" oninput="autoResize(this)" placeholder="Why" autocomplete="on" name="DMDAD"><%=item?.why%></textarea>
        </div>
        <h5 class="my-2  text-sec">Adverse Events</h5>
        <div class="col-12 my-1">
          <textarea class="form-control Clinic" id="autoHeightTextarea" oninput="autoResize(this)" placeholder="Clinic" autocomplete="on" name="Clinic"><%=item?.adverseEvents?.clinic%></textarea>
        </div>
        <div class="col-12 my-1">
          <textarea class="form-control Labs" id="autoHeightTextarea" oninput="autoResize(this)" placeholder="Labs" autocomplete="on" name="Labs"><%=item?.adverseEvents?.labs%></textarea>
        </div>
        <div class="col-12 my-1 text-center ">
          <i class="ph ph-bold ph-x"></i>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <div class="my-3 row text-center btn-row">
    <div class="col">
      <button class="btn btn-outline-primary add-btn" type="button" onclick="addcloneDMD('DMDContainer')">
        Add DMD
      </button>
    </div>
  </div>

  <%}else{%>
  <div class="my-3 row nophoto-row" id="l-DMD">
    <div class="insidecontent border-bottom" id="DMDContainer">
      <div class="row DMDinputs">
        <div class="col-12 col-md-3 my-1">
          <input type="text" class="form-control text-center titleInput" list="titleInputList" id="titleInput" placeholder="Type">
          <datalist id="titleInputList">
            <option value="Aubagio">
            <option value="Avonex">
            <option value="Betaferon">

            <option value="Copaxone">
            <option value="Extavia">
            <option value="Gilenya">
            <option value="Kesimpta">
            <option value="Lemtrada">
            <option value="Mavenclad">
            <option value="Mayzent">
            <option value="Ocrevus">
            <option value="Plegridy">
            <option value="Ponvory">
            <option value="Rebif">
            <option value="Tecfidera">
            <option value="Tysabri">
            <option value="Zeposia">
          </datalist>
        </div>
        <div class="col-12 col-md-3 my-1">
          <input type="text" id="datePicker" class="form-control text-center DMDSAT" placeholder="Started At" />
        </div>
        <div class="col-12 col-md-3 my-1 text-center ">
          <input type="checkbox" class="form-check-input" value="On Going" name="DMD">
          <h5 class="form-check-label ">On Going</h5>
        </div>
        <div class="col-12 col-md-3 my-1">
          <input type="text" id="datePicker" class="form-control text-center DMDEAT" placeholder="Ended At" />
        </div>
        <div class="col-12 my-1">
          <textarea class="form-control Description" id="autoHeightTextarea" oninput="autoResize(this)" placeholder="Description" autocomplete="on" name="DMDComment"></textarea>
        </div>
        <div class="col-12 my-1">
          <textarea class="form-control causeOfDC" id="autoHeightTextarea" oninput="autoResize(this)" placeholder="Cause of DC" autocomplete="on" name="DMDCause"></textarea>
        </div>
        <h5 class="my-2  text-sec">Adherence</h5>
        <div class="col-12 col-md-6 my-1">
          <select name="Adherence" id="adhDuration" class="form-select adherenceStatus">
            <option value="Full">Full</option>
            <option value="Missing doses">Missing doses</option>
            <option value="Occasional">Occasional</option>
            <option value="Frequent">Frequent</option>
            <option value="DC">DC</option>
          </select>
        </div>
        <div class="col-12 col-md-6 my-1 d-flex gap-1">
          <input type="text" class="form-control text-center valueofDuration" placeholder="Duration" />
          <select name="Adherence" id="adhDuration" class="form-select typeoftheDuration" style="width: 30%;">
            <option value="Day">Day</option>
            <option value="Month">Month</option>
            <option value="Year">Year</option>
          </select>
        </div>
        <div class="col-12 my-1">
          <textarea class="form-control whytheadherence" id="autoHeightTextarea" oninput="autoResize(this)" placeholder="Why" autocomplete="on" name="DMDAD"></textarea>
        </div>
        <h5 class="my-2  text-sec">Adverse Events</h5>
        <div class="col-12 my-1">
          <textarea class="form-control Clinic" id="autoHeightTextarea" oninput="autoResize(this)" placeholder="Clinic" autocomplete="on" name="Clinic"></textarea>
        </div>
        <div class="col-12 my-1">
          <textarea class="form-control Labs" id="autoHeightTextarea" oninput="autoResize(this)" placeholder="Labs" autocomplete="on" name="Labs"></textarea>
        </div>
        <div class="col-12 my-1 text-center ">
          <i class="ph ph-bold ph-x"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="my-3 row text-center btn-row">
    <div class="col">
      <button class="btn btn-outline-primary add-btn" type="button" onclick="addcloneDMD('DMDContainer')">
        Add DMD
      </button>
    </div>
  </div>
  <%}%>
  <div class="row mt-2">
        
    <div class="col-6 text-center">
      <button type="button" class="btn btn-secondary" @click="currentPage = 0; activeListItem = 0">Back</button>
    </div>
    <div class="col-6 text-center">
      <button type="button" class="btn btn-primary" @click="currentPage = 2; activeListItem = 2">Next</button>
    </div>
  </div>
</div>